---
layout: default
description: Welcome to my portfolio!
---

<div class="row">
  {% for post in site.posts limit:50 %}
    <div class="col s12 m6">
      <div class="card">
        <a href="{{ post.url }}">
          <div class="card-image">
            <img src="{{ post.image }}" />
          </div>

          <div class="card__meta">
            <span>{{ post.categories }}</span>
            <time class="card__time">{{ post.date | date: '%B %d, %Y' }}</time>
          </div>

          <article class="card__article">
            <h5>{{ post.title }}</h5>
            {% if post.description %}
              <p>{{ post.description | strip_html | truncatewords: 200 }}</p>
            {% else %}
              <p>{{ post.excerpt | strip_html }}</p>
            {% endif %}
          </article>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
