.home {

  nav {
    height: 30em;
  }

  &__nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    border-radius: 50%;
    height: 5em;
    width: 5em;
  }

  &__brand {
    font-size: 2em;
    font-weight: bold;
  }

  &__social-icons {
    img {
      width: 2em;
      height: 2em;
      margin: 0.4em;
    }
  }
}
