body {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: $primary-color;

  a, p, span {
    color: $secondary-color;
  }
}

article {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: justify;
}

code {
  background-color: rgba(199, 198, 199, .3);
  padding: .2em;
}

.container {
  @media (min-width: 1440px) {
    width: 50%;
  }
}
