.home {
  margin-bottom: 3rem;

  nav {
    height: 30em;
  }

  &__nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    &__content {
      align-items: center;
      display: flex;
      font-family: monospace;
      flex-direction: column;
    }
  }

  &__img {
    border-radius: 50%;
    height: 8em;
    width: 8em;

    &--small {
      height: 4em;
      position: relative;
      top: 2.5em;
      width: 4em;
    }
  }

  &__brand {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
  }

  &__social-icons {
    img {
      width: 2em;
      height: 2em;
      margin: 0.4em;
    }
  }
}
