.post-card {

  &__img {
    max-height: 50% !important;
  }

  &__content {
    padding: 0.8em !important;
  }

  &__title {
    font-weight: bold;
  }

  &__description {
    color: $secondary-color;
  }
}
