.post {
  overflow: auto;

  &__body {
    padding: 0 2rem;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__list {
    padding: 0 2rem;
  }

  &__item {
    margin-top: 2rem;
  }

  &__title {
    color: $dark-blue;
		cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__image {
    max-width: 100%
  }
}

@media (max-width: 480px) {
  .post {
    overflow: unset;

    h3 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.8rem;
    }

    &__list,
    &__body {
      padding: 0;
    }
  }
}
