.profile {

  &__name {
    margin-top: 4rem;

    a {
      color: $dark-blue;
    }
  }

  &__image-wrapper {
    background-color: white;
    border: .3rem solid $dark-blue;
    border-radius: 50%;
    height: 12rem;
  	margin: 4rem 0 0;
  	overflow: hidden;
    width: 12rem;
  }

  &__image {
    height: 100%;
    position: relative;
    top: 0;
  }
}

@media (max-width: 480px) {
  .profile {

    &__name {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 1440px) {
  .profile {

    &__name {
      font-size: 2rem;
    }
  }
}
