<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow"> -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %} @willamesoares {% endif %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="Will Soares">

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta name="og:description" content="{{ page.description }}">
    {% else if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 25 }}">
    <meta name="og:description" content="{{ page.excerpt | strip_html | truncatewords: 25 }}">
    {% endif %}

    {% if page.og_image_url %}
    <meta property="og:image" content="{{ page.og_image_url }}">
    {% else if page.photo_url %}
    <meta property="og:image" content="{{ page.photo_url }}">
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' }}" />
    {% endif %}

    {% if page.date %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96614926-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div class="container-fluid full-height">
      <div class="row no-margin full-height">
        <div class="col s12 m3 sidemenu profile">
          <a  href="/" class="hide-on-small-only">
            <div class="profile__image-wrapper">
              <img class="profile__image" src="/images/profile.png">
            </div>
          </a>
          <h4 class="profile__name">
            <a href="/"><b>Will Soares</b></a>
          </h4>
          <div class="separator separator-fixed"></div>
          <p class="sidemenu__headline center-align">Front-end Developer and Computer Scientist</p>
          <div class="social__icons">
            <a href="https://twitter.com/Willame_soares" target="_blank">
              <img src="/images/svg/twitter.svg" alt="Twitter">
            </a>
            <a href="https://www.linkedin.com/in/willamesoares/?locale=en_US" target="_blank">
              <img src="/images/svg/linkedin.svg" alt="Facebook">
            </a>
            <a href="https://github.com/willamesoares" target="_blank">
              <img src="/images/svg/github.svg" alt="Google Plus">
            </a>
            <a href="https://codepen.io/willamesoares" target="_blank">
              <img src="/images/svg/codepen.svg" alt="Github">
            </a>
          </div>
        </div>
        <!-- /.sidemenu -->

        <div class="col s12 m9 post full-height">
          <div class="post__section">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
